.landingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.landingContainer .topDiv {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1229px;
  padding-left: 150px;
}

@media (max-width: 1260px) {
  .landingContainer .topDiv {
    text-align: center;
    padding-left: 0px;
    width: 100%;
  }
}

.landingContainer .topDiv .LandingTitle {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 600px) {
  .landingContainer .topDiv .LandingTitle {
    font-size: 2rem;
    margin: auto 10px;
    margin-top: 32px;
    margin-bottom: 20px;
  }
}

.landingContainer .topDiv .LandingSlogan {
  font-size: 1.6rem;
  margin: 0px;
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 600px) {
  .landingContainer .topDiv .LandingSlogan {
    font-size: 1.2rem;
  }
}

.landingContainer .wayve {
  margin-top: 110px;
  width: 100%;
  height: 50px;
  background-color: #E2E2E2;
}

@media (max-width: 500px) {
  .landingContainer .wayve {
    margin-top: 50px;
  }
}

.landingContainer .firstHalfImage {
  position: absolute;
  z-index: 10;
}

@media (max-width: 1260px) {
  .landingContainer .firstHalfImage {
    position: static;
    width: 90%;
  }
}

.landingContainer .firstHalfButton {
  cursor: pointer;
  width: 400px;
  height: 50px;
  font-size: 1rem;
  margin-top: 500px;
  margin-left: 500px;
  background-color: #212121;
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  z-index: 10;
}

@media (max-width: 1260px) {
  .landingContainer .firstHalfButton {
    margin-top: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  .landingContainer .firstHalfButton {
    width: 90%;
  }
}

.landingContainer .firstHalfButton:hover {
  background-color: lightgreen;
  border: 1px solid black;
  color: black;
}

.landingContainer .secondHalfDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #E2E2E2;
}

.landingContainer .secondHalfDiv .SecondHalfInnerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin-top: 80px;
}

@media (max-width: 1260px) {
  .landingContainer .secondHalfDiv .SecondHalfInnerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.landingContainer .secondHalfDiv .SecondHalfInnerContainer .secondHalfImage {
  width: 700px;
  height: 600px;
  margin-bottom: 50px;
}

@media (max-width: 700px) {
  .landingContainer .secondHalfDiv .SecondHalfInnerContainer .secondHalfImage {
    width: 100%;
    height: auto;
  }
}

.landingContainer .secondHalfDiv .SecondHalfInnerContainer .secondHalfTitle {
  text-align: center;
  width: 350px;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1250px) {
  .landingContainer .secondHalfDiv .SecondHalfInnerContainer .secondHalfTitle {
    font-size: 3rem;
  }
}

.landingContainer .secondHalfDiv .SecondHalfInnerContainer .secondHalfParagraph {
  text-align: center;
  width: 350px;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
}

.landingContainer .secondHalfDiv .SecondHalfInnerContainer .secondHalfContent {
  display: block;
  margin-bottom: 80px;
  padding-right: 200px;
}

@media (max-width: 1260px) {
  .landingContainer .secondHalfDiv .SecondHalfInnerContainer .secondHalfContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0px;
  }
}

@media (max-width: 1260px) {
  .landingContainer .secondHalfDiv .SecondHalfInnerContainer .secondHalfContent p {
    font-size: 1.6rem;
    width: 90%;
    width: 80%;
  }
}

@media (max-width: 650px) {
  .landingContainer .secondHalfDiv .SecondHalfInnerContainer .secondHalfContent p {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  .landingContainer .secondHalfDiv .SecondHalfInnerContainer .secondHalfContent p {
    font-size: 1.1rem;
  }
}

@media (max-width: 1260px) {
  .landingContainer .secondHalfDiv .SecondHalfInnerContainer .secondHalfContent .secondHalfTitle {
    font-size: 2.3rem;
  }
}

@media (max-width: 700px) {
  .landingContainer .secondHalfDiv .SecondHalfInnerContainer .secondHalfContent .secondHalfTitle {
    margin-top: 0px;
  }
}

@media (max-width: 500px) {
  .landingContainer .secondHalfDiv .SecondHalfInnerContainer .secondHalfContent .secondHalfTitle {
    font-size: 1.8rem;
    margin-top: 0px;
  }
}

.landingContainer .secondHalfDiv .SecondHalfInnerContainer button {
  width: 350px;
  height: 50px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  background-color: #212121;
  margin-top: 20px;
  color: white;
  cursor: pointer;
}

@media (max-width: 1260px) {
  .landingContainer .secondHalfDiv .SecondHalfInnerContainer button {
    margin-left: auto 0px;
  }
}

@media (max-width: 410px) {
  .landingContainer .secondHalfDiv .SecondHalfInnerContainer button {
    width: 90%;
  }
}

.landingContainer .secondHalfDiv .SecondHalfInnerContainer button:hover {
  background-color: lightgreen;
  border: 1px solid black;
  color: black;
}

.landingContainer .LandingFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #212121;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: lightgrey;
}
/*# sourceMappingURL=landing.css.map */