.landingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        box-sizing: border-box;
        width: 1229px;
        padding-left: 150px;
        

        .LandingTitle {
            font-size: 2.5rem;
            margin-bottom: 10px;
            font-family: 'Montserrat', sans-serif;
        }

        .LandingSlogan {
            font-size: 1.6rem;
            margin: 0px;
            margin-bottom: 0px;
            font-family: 'Montserrat', sans-serif;
        }
    }



    .firstHalfImage {
        position: absolute;
        // width: 1229px
    }

    .firstHalfButton {
        // position: absolute;
        width: 400px;
        height: 50px;
        font-size: 1rem;
        margin-top: 500px;
        margin-left: 500px;
        background-color: white;
        border: 1px solid black;
        // top: 750px;
        // right: 400px;
    }

    .secondHalfDiv {
        display: flex;
        justify-content: baseline;
        width: 100%;
        display: none;

        img {
            width: 600px;
            height: 500px;
        }

        .secondHalfTitle {
            text-align: center;
            width: 350px;
            font-size: 1.6rem;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
        }

        .secondHalfParagraph {
            text-align: center;
            width: 350px;
            font-size: 1.4rem;
            font-family: 'Montserrat', sans-serif;
        }

        .secondHalfContent {
            margin-bottom: 80px;
        }

        button {
            width: 350px;
            height: 50px;
            font-size: 1rem;
        }
    }
    
    
}