.ProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid black;
    

    .ProfileContentContainer {
        // border: 1px solid black;
        box-shadow: 2px 2px 5px grey;
        width: 1120px;
        background-color: white;

        .ProfileHeader {
            height: 200px;
            background-position: center;
            background-size: cover;
        }

        .ProfileAVI {
            position: absolute;
            height: 170px;
            width: 170px;
            
            background-position: center;
            background-size: cover;
            top: 120px;
            margin-left: 60px;
            z-index: 2;
            border-radius: 50%;
            border: 5px solid white;
        }

        .ProfileUserInfo {
            margin: 10px;
        }
    }

    .SingleProfilePosts {
        display: flex;
        flex-wrap: wrap; 
        width: 1120px;
    }

    .postOrginizer {
        display: flex;
        width: 1120px;
        
        
        p {
            width: 100%;
            // border: 1px solid black;
            box-shadow: 2px 2px 5px grey;
            background-color: white;
            text-align: center;
            padding: 10px;
            font-family: Didact Gothic;
            font-weight: 600;
            font-size: 1.1rem;
            
        
    }

}
}