.ProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;

    .ProfileContentContainer {
        border: 1px solid black;
        width: 1120px;

        .ProfileHeader {
            height: 200px;
            background-position: center;
        }

        .ProfileAVI {
            position: absolute;
            height: 170px;
            width: 170px;
            
            background-position: center;
            // background-size: cover;
            top: 120px;
            margin-left: 60px;
            z-index: 2;
            border-radius: 50%;
            border: 5px solid white;
        }

        .ProfileUserInfo {
            margin: 10px;
        }
    }

    .SingleProfilePosts {
        display: flex;
        flex-wrap: wrap; 
        width: 1120px;
    }

    .postOrginizer {
        display: flex;
        width: 1120px;

        
        p {
            width: 50%;
            border: 1px solid blue;
            text-align: center;
            padding: 10px;
            
        }
    }

}