.spinnerContainerComments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-height: 100px;

    @media (max-width: 1000px) {
        margin: 20px 0px;
    }
    
    i {
        animation: rotation .5s infinite linear;
    }
    
    p {
        font-weight: 600;
    }
}

@keyframes rotation {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(359deg);
    }
}

.CardContainer:hover {
    box-shadow: 3px 3px 5px grey;
}

.CardContainer {
    background: white;
    width: 350px;
    height: 400px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 2px 2px 5px grey;
    border-radius: 3px;
    cursor: pointer;

    .CardIMG {
        height: 240px;
        background: lightgrey;
        background-size: cover;
        background-position: center;
    }

    .CardContent {
        margin: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 145px;
        cursor: pointer;  



        p {
            font-family: 'Montserrat', sans-serif;
            margin: 0px;
            margin-top: 10px;
        }

        .CardTitle {
            font-size: 1.3rem;
            margin: 0px;
            font-weight: 1000;
            margin-bottom: 5px;
        }

        .CardDescription {
            // font-weight: 600;
            margin: 0px;
            cursor: pointer;

            strong {
                text-decoration: underline;
            }
        }


        .CenteredDate {
            text-align: center;
        }

        .CardLikesNumber {
            font-weight: 600;
            margin: 0px;
            margin-bottom: 5px;
        }


    }
}

.backgroundPostContainer {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    // height: auto;
    margin-bottom: 20px;

    .goBackButton {
        padding: 3px 15px;
        border: 3px solid #212121;
        background-color: lightgreen;
        color: black;
        font-family: 'Montserrat', sans-serif;
        margin: 5px;
        font-weight: 600;
        font-size: 1.3rem;
        margin-top: 20px;
        cursor: pointer;
    }

    h1 {
        max-width: 940px;
        text-align: center;

        @media (max-width: 500px) {
            font-size: 1.5rem;; 
        }
    }

    .singlePostContainer {
        display: flex;
        height: 600px;
        width: 940px;
        box-shadow: 2px 2px 5px grey;

        a { 
            text-decoration: none;

        .singlePostImage {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            // opacity: 0.9;
            height: 600px;
            width: 600px;
            background: lightgrey;
            background-size: cover;
            background-position: center;

            @media (max-width: 625px) {
                width: 100%;
            }


            .ClickView {
                display: none;
                margin: 0px;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                font-weight: 600;
                font-size: 1.5rem;
                text-decoration: none;
                color: white;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            }

            
        } 
    }

        .singlePostImage:hover { 
            opacity: .95;

            .ClickView {
                display: block;
                position: relative;
            }
        }

        .singlePostContent {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 342px;
                background: white;
                // margin-bottom: 20px;
                


            h3 {
                text-align: center;
                width: 100%;
                border-bottom: 1px solid lightgrey;
                margin: 0px;
                padding: 10px 0px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 1.3rem;
                cursor: pointer;
            }

            h3:hover {
                text-decoration: underline;
            }

            .commentsArea {
                overflow-y: scroll;
                height: 100%;
                // margin-top: 10px;
                
                strong {
                    cursor: pointer;
                    text-decoration: underline;
                }

                p {
                    font-family: 'Montserrat', sans-serif;
                  
                    font-size: 1.1rem;
                    margin-left: 10px;
                }
            }

            .contentLowerHalf {
                display: flex;
                flex-direction: column;
                

                p {
                    margin: 5px;
                    margin-left: 10px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.1rem;
                }

                .displaynameText {
                    margin-bottom: 15px;

                    .strongName {
                        cursor: pointer;
                    }

                    .strongName:hover {
                        text-decoration: underline;
                    }
                }

                .amountOfLikes {
                    font-weight: 600;
                }

                form {
                    width: 100%;
                    display: flex;

                input {
                    height: 30px;
                    // margin-top: 10px;
                    // border: 0px solid white;
                    border: 1px solid lightgrey;
                    height: 55px;
                    font-size: 1.1rem;;
                    padding: 0px;
                    width: 100%;
                    box-sizing: border-box;
                    padding-left: 5px;
                } }



                .likeCommentDiv {
                    display: flex;
                    flex-direction: row;
                    border-top: 1px solid grey;
                    padding-top: 10px;
                    

                    i {
                        margin-left: 10px;
                        color: black;
                        // animation: rotation 1s infinite linear;
                    }

                    .trashicon {
                        margin-left: 210px;
                        cursor: pointer;
                    }

                }

            }
            
        }


    }

    @media (max-width: 1000px) {
        height: auto;

        
         h1 {
             text-align: center;
             margin: 10px 0;
         }

        .singlePostContainer {
            flex-direction: column;
            width: 600px;
            box-shadow: 0px 0px 0px white;
            // margin-bottom: 20px;
            // height: auto;

            a {
                box-shadow: 3px 3px 5px grey;
            }

            .singlePostContent {
                width: 100%;
                box-shadow: 3px 3px 5px grey;
                margin-bottom: 20px;
                background: white;

                .commentsArea {
                max-height: 100px;
            }

            h3 {
                display: none;
            }

            .contentLowerHalf {

                .likeCommentDiv {

                    .trashicon {
                       display: none;
                    }
                }
            }
        }
    }
  }

  @media (max-width: 625px) {
    .singlePostContainer {
        flex-direction: column;
        width: 95%;
        height: auto;

        a {
            box-shadow: 3px 3px 5px grey;
        }

        .singlePostContent {
            box-shadow: 3px 3px 5px grey;
        
        }
        

        .singlePostImage {
            $width: 100%;
            width: $width;
            max-height: 500px;

            @media (max-width: 500px) {
                max-height: 400px;
            }

            @media (max-width: 400px) {
                max-height: 300px;
            }
        }
    }
  }


}

