.spinnerContainerComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70vh;
}

.spinnerContainerComments i {
  -webkit-animation: rotation .5s infinite linear;
          animation: rotation .5s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.CardContainer:hover {
  -webkit-box-shadow: 3px 3px 5px grey;
          box-shadow: 3px 3px 5px grey;
}

.CardContainer {
  background: white;
  width: 350px;
  height: 400px;
  overflow: hidden;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 5px grey;
          box-shadow: 2px 2px 5px grey;
  cursor: pointer;
}

.CardContainer .CardIMG {
  height: 240px;
  background: lightgrey;
  background-size: cover;
  background-position: center;
}

.CardContainer .CardContent {
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 130px;
  cursor: pointer;
}

.CardContainer .CardContent p {
  font-family: Didact Gothic;
  margin: 0px;
  margin-top: 10px;
}

.CardContainer .CardContent .CardTitle {
  font-size: 1.35rem;
  margin: 0px;
  font-weight: 1000;
  margin-bottom: 10px;
}

.CardContainer .CardContent .CardDescription {
  margin: 0px;
  cursor: pointer;
}

.CardContainer .CardContent .CardDescription strong {
  text-decoration: underline;
}

.CardContainer .CardContent .CenteredDate {
  text-align: center;
}

.CardContainer .CardContent .CardLikesNumber {
  font-weight: 600;
  margin: 0px;
  margin-bottom: 10px;
}

.backgroundPostContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Didact Gothic;
  height: 80vh;
}

.backgroundPostContainer .singlePostContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  width: 940px;
  -webkit-box-shadow: 2px 2px 5px grey;
          box-shadow: 2px 2px 5px grey;
}

.backgroundPostContainer .singlePostContainer .singlePostImage {
  height: 600px;
  width: 600px;
  background: lightgrey;
  background-size: cover;
  background-position: center;
}

.backgroundPostContainer .singlePostContainer .singlePostContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 342px;
  background: white;
}

.backgroundPostContainer .singlePostContainer .singlePostContent h3 {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  margin: 0px;
  padding: 10px 0px;
  font-family: Didact Gothic;
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
}

.backgroundPostContainer .singlePostContainer .singlePostContent .commentsArea {
  overflow-y: scroll;
  height: 100%;
}

.backgroundPostContainer .singlePostContainer .singlePostContent .commentsArea strong {
  cursor: pointer;
  text-decoration: underline;
}

.backgroundPostContainer .singlePostContainer .singlePostContent .commentsArea p {
  font-family: Didact Gothic;
  font-size: 1.1rem;
  margin-left: 10px;
}

.backgroundPostContainer .singlePostContainer .singlePostContent .contentLowerHalf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.backgroundPostContainer .singlePostContainer .singlePostContent .contentLowerHalf p {
  margin: 5px;
  margin-left: 10px;
  font-family: Didact Gothic;
  font-size: 1.1rem;
}

.backgroundPostContainer .singlePostContainer .singlePostContent .contentLowerHalf .displaynameText {
  margin-bottom: 15px;
}

.backgroundPostContainer .singlePostContainer .singlePostContent .contentLowerHalf .amountOfLikes {
  font-weight: 600;
}

.backgroundPostContainer .singlePostContainer .singlePostContent .contentLowerHalf form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.backgroundPostContainer .singlePostContainer .singlePostContent .contentLowerHalf form input {
  height: 30px;
  border: 0px solid white;
  height: 55px;
  font-size: 1.1rem;
  padding: 0px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 5px;
}

.backgroundPostContainer .singlePostContainer .singlePostContent .contentLowerHalf .likeCommentDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 1px solid grey;
  padding-top: 10px;
}

.backgroundPostContainer .singlePostContainer .singlePostContent .contentLowerHalf .likeCommentDiv i {
  margin-left: 10px;
  color: black;
}

.backgroundPostContainer .singlePostContainer .singlePostContent .contentLowerHalf .likeCommentDiv .trashicon {
  margin-left: 210px;
  cursor: pointer;
}
/*# sourceMappingURL=postCard.css.map */