.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 76px;
  background-color: #212121;
}

.Nav h3 {
  margin: 0px;
      /* margin-left: 50px; */
      color: white;
      font-size: 2.0rem;
      cursor: pointer;
}

.innerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  font-family: Didact Gothic;
}

.innerNav i {
  color: white;
}

.innerNav div {
  display: flex;
  justify-content: baseline;
  margin-top: 5px;
}

.innerNav div i {
  margin-right: 20px;
  cursor: pointer;
}

.innerNav div i:hover {
  color: lightgrey;
}

.innerNav div button {
  height: 32px;
  width: 70px;
  background: black;
  border: 2px solid white;
  color: white;
  font-family: Didact Gothic;
  font-weight: 600;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
}

.innerNav div button:hover {
  color: lightgrey;
  border: 2px solid lightgrey;
  
}

.blueLogo {
  width: 55px;
  margin-right: 15px;
}

.LoginNavButton {
  margin-right: 10px;
}

@media (max-width: 450px) {

  /* .Nav {
    height: 90px;
  } */

  .Nav .innerNav div .fa-plus-square {
    display: none;
  }

  .Nav .innerNav {
    justify-content: baseline;
  }

  .ArticleHubLogo .blueLogo {
    width: 30px;
    height: 20px;
    margin-right: 5px;
    margin-top: 5px;
  }

  .ArticleHubLogo h3 {
    font-size: 1.5rem;
  }

  .innerNav .ArticleHubLogo {
    margin-top: 10px;
  }


}

