.EditProfileOuter {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        background: lightgreen;
        font-family: Didact Gothic;
        font-weight: 600;
        color: black;
        border: 2px solid black;
        font-size: 1rem;
        cursor: pointer;
    }

    h1 {
        font-family: Didact Gothic;
        font-weight: 600;
    }



    .EditProfileContainer {
        width: 750px;
        padding: 20px;
        background: white;
        box-shadow: 2px 2px 5px grey;
      

        .HeaderContainer {
            display: flex;
            justify-content: center;
            margin: 10px;
            margin-top: 20px;

            .Header {
                height: 150px;
                width: 600px;
                background: lightgrey;
                background-size: cover;
                background-position: center;
                // margin-top: 10px;
            }

            .HeaderButtons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                button {
                    margin-bottom: 10px;
                    margin-left: 17px;
                    height: 35px;
                    width: 100px;
                }

                .HiddenInputSpan {
                    display: flex;
                    align-items: center;
                    border: 2px solid black;
                    height: 35px;
                    width: 95px;
                    margin-bottom: 10px;
                    margin-left: 17px;
                    text-align: center;
                    background: lightgreen;
                    font-family: Didact Gothic;
                    font-weight: 600;
                    cursor: pointer;

                    input {
                        display: hidden;
                        width: 0px;
                    }
            
                    span {
                        margin: 0 auto;
                    }
            
                }
            }
        }

        .EditContentContainer {
            display: flex;
            

            .EditProfilePic {
                display: flex;
                flex-direction: column;
                
                margin: 14px;

                .ProfilePic {
                    width: 300px;
                    height: 300px;
                    background: lightgrey;
                }

                .ProfPicButtons {
                    display: flex;
                    justify-content: center;

                    button {
                        height: 40px;
                        width: 100px;
                        margin: 10px;
                    }

                    .HiddenInputSpan2 {
                        display: flex;
                        align-items: center;
                        border: 2px solid black;
                        height: 35px;
                        width: 95px;
                        margin: 10px;
                        text-align: center;
                        background: lightgreen;
                        font-family: Didact Gothic;
                        font-weight: 600;
                        cursor: pointer;
    
                        input {
                            display: hidden;
                            width: 0px;
                        }
                
                        span {
                            margin: 0 auto;
                        }
                
                    }
                    
                }
            }

    

            .EditContent {
               margin: 14px;
                height: 350px;
                // border: 1px solid blue;

                form {
                    display: flex;

                    button {
                        margin-left: 10px;
                        height: 35px;
                    }

                    .NameInput {
                        height: 30px;
                        width: 320px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1.1rem;
                        box-sizing: border-box;
                        padding: 5px;
                    }

                    textarea {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1.1rem;
                        box-sizing: border-box;
                        padding: 5px;
                    }

                    .BioInput {
                        width: 320px;
                    }
                }
            }
        }
    }
}