.EditProfileOuter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.EditProfileOuter button {
  background: lightgreen;
  font-family: Didact Gothic;
  font-weight: 600;
  color: black;
  border: 2px solid black;
  font-size: 1rem;
  cursor: pointer;
}

.EditProfileOuter h1 {
  font-family: Didact Gothic;
  font-weight: 600;
}

.EditProfileOuter .EditProfileContainer {
  width: 750px;
  padding: 20px;
  background: white;
  -webkit-box-shadow: 2px 2px 5px grey;
          box-shadow: 2px 2px 5px grey;
}

@media (max-width: 820px) {
  .EditProfileOuter .EditProfileContainer {
    width: 420px;
  }
}

@media (max-width: 500px) {
  .EditProfileOuter .EditProfileContainer {
    width: 300px;
    height: 450px;
    margin-bottom: 20px;
  }
}

.EditProfileOuter .EditProfileContainer .HeaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  margin-top: 20px;
}

@media (max-width: 820px) {
  .EditProfileOuter .EditProfileContainer .HeaderContainer {
    display: none;
  }
}

.EditProfileOuter .EditProfileContainer .HeaderContainer .Header {
  height: 150px;
  width: 600px;
  background: lightgrey;
  background-size: cover;
  background-position: center;
}

.EditProfileOuter .EditProfileContainer .HeaderContainer .HeaderButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.EditProfileOuter .EditProfileContainer .HeaderContainer .HeaderButtons button {
  margin-bottom: 10px;
  margin-left: 17px;
  height: 35px;
  width: 100px;
}

.EditProfileOuter .EditProfileContainer .HeaderContainer .HeaderButtons .HiddenInputSpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  height: 35px;
  width: 95px;
  margin-bottom: 10px;
  margin-left: 17px;
  text-align: center;
  background: lightgreen;
  font-family: Didact Gothic;
  font-weight: 600;
  cursor: pointer;
}

.EditProfileOuter .EditProfileContainer .HeaderContainer .HeaderButtons .HiddenInputSpan input {
  display: hidden;
  width: 0px;
}

.EditProfileOuter .EditProfileContainer .HeaderContainer .HeaderButtons .HiddenInputSpan span {
  margin: 0 auto;
}

.EditProfileOuter .EditProfileContainer .EditContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.EditProfileOuter .EditProfileContainer .EditContentContainer .EditProfilePic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 14px;
}

@media (max-width: 820px) {
  .EditProfileOuter .EditProfileContainer .EditContentContainer .EditProfilePic {
    display: none;
  }
}

.EditProfileOuter .EditProfileContainer .EditContentContainer .EditProfilePic .ProfilePic {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background: lightgrey;
}

.EditProfileOuter .EditProfileContainer .EditContentContainer .EditProfilePic .ProfPicButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.EditProfileOuter .EditProfileContainer .EditContentContainer .EditProfilePic .ProfPicButtons button {
  height: 40px;
  width: 100px;
  margin: 10px;
}

.EditProfileOuter .EditProfileContainer .EditContentContainer .EditProfilePic .ProfPicButtons .HiddenInputSpan2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  height: 35px;
  width: 95px;
  margin: 10px;
  text-align: center;
  background: lightgreen;
  font-family: Didact Gothic;
  font-weight: 600;
  cursor: pointer;
}

.EditProfileOuter .EditProfileContainer .EditContentContainer .EditProfilePic .ProfPicButtons .HiddenInputSpan2 input {
  display: hidden;
  width: 0px;
}

.EditProfileOuter .EditProfileContainer .EditContentContainer .EditProfilePic .ProfPicButtons .HiddenInputSpan2 span {
  margin: 0 auto;
}

.EditProfileOuter .EditProfileContainer .EditContentContainer .EditContent {
  margin: 14px;
  height: 350px;
}

.EditProfileOuter .EditProfileContainer .EditContentContainer .EditContent form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 500px) {
  .EditProfileOuter .EditProfileContainer .EditContentContainer .EditContent form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 250px;
    margin: 10px;
  }
}

.EditProfileOuter .EditProfileContainer .EditContentContainer .EditContent form button {
  margin-left: 10px;
  height: 35px;
}

@media (max-width: 500px) {
  .EditProfileOuter .EditProfileContainer .EditContentContainer .EditContent form button {
    width: 100px;
    margin-top: 10px;
  }
}

.EditProfileOuter .EditProfileContainer .EditContentContainer .EditContent form .NameInput {
  height: 30px;
  width: 320px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}

.EditProfileOuter .EditProfileContainer .EditContentContainer .EditContent form textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}

.EditProfileOuter .EditProfileContainer .EditContentContainer .EditContent form .BioInput {
  width: 320px;
}
/*# sourceMappingURL=editprofile.css.map */