.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    
    i {
        animation: rotation 1s infinite linear;
    }
}

@keyframes rotation {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(359deg);
    }
}

.mobileView {
    display: none;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;

    @media (max-width: 900px) {
        display: block;
    }
}

.PostFormPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // height: 600px;

    @media (max-width: 900px) {
        display: none;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        margin-top: 40px;
    }

    .UploadButton {
        margin-top: 30px;
        background: #212121;
        color: white;
        font-family: 'Montserrat', sans-serif;
        border: 1px solid #212121;
        font-weight: 600;
        font-size: 1.2rem;
        width: 100px;
        height: 40px;
        box-shadow: 2px 2px 5px grey;
        cursor: pointer;
    }

    .PostFormContainer {
        // border: 1px solid red;
        background: white;
        margin-top: 30px;
        display: flex;
        box-shadow: 2px 2px 5px grey;


        .PostImageContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;  
            width: 350px;
            height: 520px;   
            background: pink;

            p {
                font-family: 'Montserrat', sans-serif;
                width: 300px;
                text-align: center;
            }


            .form1image {
                margin-top: 30px;
                width: 300px;
                height: 300px;
                background: lightgrey;
                background-size: cover;
                background-position: center;

            }

            .hiddenInput {
                visibility: hidden;
                width: 0px;
                overflow: hidden;
            }

            .ConfirmButton {
                padding: 10px;
                // margin: 20px;
                background: white;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                color: black;
                border: 2px solid black;
                font-size: 1rem;
                cursor: pointer;
            }

            

            .fileUploadSpan {
                
                padding: 10px;
                margin: 20px;
                background: #212121;
                font-family: 'Montserrat', sans-serif;
                color: white;
                cursor: pointer;
            }
        }

        .PostImageContainerHighlight {
            background: lightgreen;
        }

        .PostContentContainer {
            width: 500px;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;

                P {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                }

                input {
                    width: 350px;
                    font-size: 1.2rem;
                    font-family: 'Montserrat', sans-serif;
                }

                .TitleInput {
                    border: 0px solid black;
                    border-bottom: 1px solid black;
                    font-size: 1.2rem;
                }

                .DescriptionInput {
                    height: 150px;
                    font-size: 1.2rem;
                }

                .PostCategorySelector {
                    height: 30px;
                    width: 350px;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.2rem;
                    

                    option {
                        text-align: center;
                        font-family: 'Montserrat', sans-serif;
                        
                    }
                }


            }
        }
   }
}