.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    
    i {
        animation: rotation 1s infinite linear;
    }
}

@keyframes rotation {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(359deg);
    }
}

.HomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .DiscoverOtherTextDisplay { 
        display: flex; 
        align-items: center;
        width: 1075px;
        margin-top: 20px;
        font-family: Didact Gothic;

        i {
            margin-left: 10px;
            padding-right: 30px
            // margin-bottom: 2px;
        }
    }

    h3 {
        font-size: 2rem;
        font-family: Didact Gothic;
        margin: 0px;
        margin-top: 20px;
        text-align: center;
        padding: 0 5px;
    }

    .AllPostsContainer {
        width: 1120px;
        display: flex;
        flex-wrap: wrap; 
    }

    button {
        width: 1100px;
        background: #212121;
        color: white;
        font-family: Didact Gothic;
        height: 50px;
        margin-bottom: 14px;
        margin-top: 7px;
        border: 0px solid white;
        font-size: 1rem;
        cursor: pointer;
    }


    .DiscoverCardsContainer {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
      
    }
        
    

    .AllPostOrganizer {
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;

        div {
            // height: px;
            padding: 3px 15px;
            border: 3px solid #212121;
            background-color: lightgreen;
            color: black;
            font-family: Didact Gothic;
            margin: 5px;
            font-weight: 600;
            cursor: pointer;
        }

        .HighlightedTab {
            background-color: #212121;
            color: white;
            
        }
    }

}

 
@media (max-width: 1300px) {

    .innerNav {
        width: 90%;
    }

}

@media (max-width: 1200px) {

    .DiscoverCardsContainer {
         width: 100%;
        overflow-x: scroll;
        // height: 210px !important;
    }

    .HomeContainer  {

        .DiscoverOtherTextDisplay {
            width: 90%;
        }

        .AllPostsContainer {
            width: 100%;
            justify-content: center;

            
        }
    }
}

@media (max-width: 750px) {

    .AllPostOrganizer {
        width: 98%;
        overflow-x: scroll;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;

        
    }

    .AllPostsContainer {
        .CardContainer {
            // width: 90%;
        }
    }
    
}

@media (max-width: 739px) {

    .HomeContainer {

        .AllPostsContainer {

            .CardContainer {
                width: 90%;
            }
        }
    }
}